.heading
{
  width: 200px;
  box-shadow: 10px;
  font-size: 20px;
}

.note
{
    font-size: 20px;
}

#camera  #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}